# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and temporary data
*.log
backend/cache/
cache/
.cache/

# Virtual Environments
venv/
.venv/
env/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Node / Frontend
node_modules/
**/node_modules/
dist/
**/dist/
dist-ssr/
*.local

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
